<div class="homeWrapper w-75 mx-auto">
    <div class="headers">
        <div class="logoWrapper border-bottom border-dark">
            <div class="logo ">
                <img src="/images/j2_logo.png" alt="j2_logo">
            </div>
        </div>

        <div class="navbars d-none d-md-block">
            <div class="menu">
                <a class="active" href="/"> Home</a>
                <a href="/investment"> Investment</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>

        </div>

        <!-- mobile -->
        <div class="overlay d-md-none" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a class="active" href="/"> Home</a>
                <a href="/investment"> Investment</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>
        </div>

        <span class="hamburger d-md-none" style="font-size:40px;cursor:pointer;" onclick="openNav()">&#9776;</span>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="hero_section">
                        <div class="hero_wrap">
                            <div class="big_H">
                                <p>EARTH PLANET MINERALS</p>
                            </div>
                            <div class="small_H">
                                <p>Modern Rarity</p>

                            </div>
                            <div class="normal_H">
                                <p class="text-center pt-3">Real Diamonds Grown In Chicago</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="swiper mySwiper">

        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/1.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/2.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/3.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/4.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/5.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/6.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/7.webp" alt=""></div>
            <div class="swiper-slide"><img src="/images/8.webp" alt=""></div>
        </div>
    </div>

    <div class="about_wrapper">
        <div class="about_wrap">
            <h1 class="text-center">Who Are We?</h1>
            <p>At Earthplanet, we love crystals. In fact, we have over three decades of working with crystals to
                advance technology and improve people’s lives. From LEDs to medical therapies to national security to
                green technology, we’ve done it all. With Earthplanet, we are using our experience and expertise not
                just to make beautiful gemstones, but to create new, sustainable avenues for scientific discovery and
                technical evolution using nature’s most fascinating crystal: diamond.</p>
        </div>
    </div>

    <div class="product_wrapper">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">GEMSTONES</h5>
                    </div>
                    <img src="/images/14.webp" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">ADVANCED OPTICS</h5>
                    </div>
                    <img src="/images/13.webp" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">SEMICONDUCTOR</h5>
                    </div>
                    <img src="/images/12.webp" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="single_wrapper">
        <div class="about_wrap">
            <h1 class="text-center">Pristine Single-Crystal CVD Diamond</h1>
            <p>Earthplanet produces extremely high-quality CVD diamond suitable for not just beautiful large, colorless
                gemstones, but also optics for advanced synchrotron sources, quantum computer logic, and high-power and
                high-frequency semiconductor applications. Through trade secrets and patent-pending technology, we can
                do this at high growth rates over large areas with no sacrifice to material quality.</p>
        </div>
    </div>

    

    <div class="products">
        <!-- <div class="container overflow-hidden"> -->
            <div class="row gx-5 p_first_row">
                <div class="col-12 col-md-6">
                    <img src="/images/Diamonds.webp" alt="" >
                </div>
                <div class="col-12 col-md-6 p_align">
                    <div class="p-3 product_details">
                        <h1>Purity</h1>
                        <p>High purity, natural gases combined with process refinement allows for ultra-pure materia</p>
                        <p>This allows Earthplanet to produce beautiful colorless stones while also ensuring the most
                            stringent control over electrical properties for sensitive technical applications.</p>
                    </div>
                </div>
            </div>


            <div class="row gx-5 p_first_row">
                <div class="col-12 col-md-6">
                    <div><img src="/images/Plasma.webp" alt=""></div>
                </div>
                <div class="col-12 col-md-6 p_align">
                    <div class="p-3 product_details">
                        <h1>Innovation</h1>
                        <p>Through novel, patent-pending growth processes, combined with innovative reactor design, J2
                            Materials is able to realize industry-leading growth rates while maintaining growth
                            homogeneity over large areas. The result is fantastic throughput and the potential to
                            produce high-quality single-crystal epi-ready diamond wafers and true epitaxial GaN on
                            Diamond templates.</p>

                    </div>
                </div>
            </div>
        <!-- </div> -->


        <div class="row gx-5 p_first_row">
            <div class="col-12 col-md-6">
                <div><img src="/images/Topography.webp" alt=""></div>
            </div>
            <div class="col-12 col-md-6 p_align">
                <div class="p-3 product_details">
                    <h1>Quality</h1>
                    <p>Through stringent parameter control and innovative processes, Earthplanet produces diamond
                        of the highest quality. This allows us to produce brilliant gemstones, while also developing
                        ultra-high quality material for semiconductor and research-grade diamond applications.</p>
                    <p class="second_details">Image is of J2 diamond topography’s world-leading CVD diamond quality,
                        as analyzed by Argonne National Laboratory’s Advanced Photon Source.</p>
                </div>
            </div>
        </div>


        <div class="row gx-5 p_first_row">
            <div class="col-12 col-md-6">
                <div><img src="/images/Young Plant Growing In Sunlight.webp" alt=""></div>
            </div>
            <div class="col-12 col-md-6 p_align">
                <div class="p-3 product_details">
                    <h1>Sustainability</h1>
                    <p>In place of massive, kilometer-scale mines that can be viewed from space, CVD diamonds can be
                        grown in small buildings located in mixed-residential areas. In the process, very small amounts
                        of methane (a tiny fraction of what is used in a home stovetop) are converted into diamond. J2
                        Materials strives to further minimize its carbon footprint through process efficiency and
                        minimization of source gases.</p>

                </div>
            </div>
        </div>
    </div>


    <div class="forms">
        <div class="container">
            <h1>WE WANT TO HEAR FROM YOU</h1>
            <div class="row gx-5">
              <div class="col-12 col-md-6 address">
                <p>Chicago, IL</p>
                <p>info@earthplanetminerals.com</p>
              </div>

              <div class="col-12 col-md-6">
                <form class="row g-3">
                    <div class="col-12">
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name" required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Email" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputCity" placeholder="Phone">
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control" id="inputZip" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" id="comment" name="comment"
                            rows="3">Type your message here ...</textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn home_btn">Submit</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>

    
    <div class="footer">
        <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <p>&copy;2001 by Earthplanet Minerals</p>
        </div>
    </div>
    </div>


</div>

