
<div class="homeWrapper contactWrap w-75 mx-auto">
    <div class="headers">
        <div class="logoWrapper border-bottom border-dark">
            <div class="logo ">
                <img src="/images/j2_logo.png" alt="j2_logo">
            </div>
        </div>
    
        <div class="navbars d-none d-md-block">
            <div class="menu">
                <a class="active" href="/"> Home</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>

        </div>
    

        <!-- mobile -->
        <div class="overlay d-md-none" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a class="active" href="/"> Home</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>
        </div>

        <span class="hamburger d-md-none" style="font-size:40px;cursor:pointer;" onclick="openNav()">&#9776;</span>

        <div class="hero_section">
            <div class="hero_wrap">
                <div class="big_H">
                    <p>EARTH PLANET</p>
                </div>
                <div class="small_Hs">
                    <p>About</p>
                </div>
                
            </div>
    
        </div>

        

        <div class="about_wrapperss">
            <div class="about_wrap">
                <p>Earthplanet is a privately owned advanced materials company specializing in the growth of high-quality diamonds. Leveraging over 30 years in crystal growth and manufacturing scale-up, Earthplanet is focused on the production of high purity lab-grown diamond to meet the growing demand for ethical gemstones and diamond substrates for the semiconductor industry.</p>
            </div>
        </div>

        <div class="the_team">
            <div class="container teams">
                <!-- <div class="team_h1"> -->
                    <h1 class="text-center">Meet The Team</h1>
                    <hr class="border border-dark border-2 opacity-100" />
                <!-- </div> -->
                
                <div class="row content">
                    <div class="col">
                        <div class="img_wrapper">
                            <div class="image text-center">
                                <img src="/images/img1.webp" alt="">
                                <span class="name">Jonathan Levine-Miles</span>
                                <span>CEO</span>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                        <p class="about_text">Jonathan is a solid-state chemist who received his B.A. in chemistry from Princeton University and doctorate in materials chemistry from UCLA as a National Science Foundation Fellow.  Upon completion of his PhD, Jonathan spent five years at Rubicon Technology developing novel solutions to manufacture large-scale sapphire crystals for optical and semiconductor applications.  Jonathan was responsible for the installation and operation of Rubicon’s 100,000 square-foot crystal growth facility and the annual production of $100M in materials. As Rubicon’s Director of Technical Business Development, Jonathan worked with numerous fortune 500 clients, as well as the United States Department of Defense, developing new crystal growth and manufacturing solutions. </p>
                        <p class="about_text">Jonathan's 12 publications have received over 871 citations worldwide, he is listed as an inventor on three patents and has raised over $7.5M in funding for high-quality crystal growth projects throughout his career from the National Science Foundation, the Department of Defense and the investment community. </p>
                    </div>
                    <div class="col second_about">
                        <div class="img_wrapper">
                            <div class="image text-center">
                                <img src="/images/img2.webp" alt="">
                                <span class="name">John Ciraldo</span>
                                <span>CTO</span>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                        <p class="about_text">John first became interested in single-crystal materials for electronics applications while studying electrical engineering and physics at The Ohio State University. He obtained master’s degrees in physics and material science & engineering at The University of California at Riverside, where he continued materials research, developing novel processes for chemical vapor deposition (CVD) and molecular beam epitaxy (MBE). It was there that John first began working with carbon allotropes. John has 15 years of experience developing and characterizing epaxial films and has developed technology used in multiple fortune 500 companies, The DOE, DoD and USAF for epitaxial gallium-nitride devices.</p>
                        <p class="about_text">John has experience running research and development and intellectual property development for one of North America’s largest semiconductor materials companies. He has authored 16 patents and 11 scientific publications and has chaired multiple working groups for SEMI – all related to standards-setting for semiconductor wafers.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <p>&copy;2020 by Earthplanet</p>
            </div>
        </div>
    </div>
</div>