<div class="investmentWrapper">
    <div class="headers">
        <div class="logoWrapper border-bottom border-dark">
            <div class="logo ">
                <img src="/images/j2_logo.png" alt="j2_logo">
            </div>
        </div>

        <div class="navbars d-none d-md-block">
            <div class="menu">
                <a class="active" href="/"> Home</a>
                <a href="/investment"> Investment</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>

        </div>

        <!-- mobile -->
        <div class="overlay d-md-none" id="myNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a class="active" href="/"> Home</a>
                <a href="/investment"> Investment</a>
                <a href="/about"> About</a>
                <a href="/contact"> Contact</a>
            </div>
        </div>

        <span class="hamburger d-md-none" style="font-size:40px;cursor:pointer;" onclick="openNav()">&#9776;</span>
    </div>

    <div class="investment mt-5">
        <div class="custom-shape-divider-top-1706122092">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>



        <div class="custom-shape-divider-bottom-1706121701">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
        <div class="invest_hero">
            <div class="invest_wrap">
                <h1>The Hardest Asset Is Now Liquid</h1>
                <h3>Safely add diamonds to your portfolio. <br>
                    A trading platform for hard-asset investors.
                </h3>
                <a href="/contact"
                    class="btn btn-primary fs-5 rounded-start-pill rounded-end-pill mt-5 text-bg-light px-4 py-3 fw-bold border-0">Invest
                    & Trade</a>
            </div>
        </div>
    </div>

    <div class="diamond_sect ">
        <div class="img_diamond text-center container">
            <img src="/images/LooseDiamonds.png" alt="">
        </div>
        <div class="diamond_sect_text mt-4 container">
            <h2>The Diamond Marketplace for Hard-Asset Investors</h2>
            <p class="firstsss">As a hard-asset investor, you seek protection against inflation.</p>
            <p class="second">But, even though diamonds are the most portable of the hard assets, you’ve probably
                avoided them because:</p>
            <ul class="px-5">
                <li>Retail store markups mean a big loss when you’re ready to sell. (High bid/ask spread)</li>
                <li>How do you sell? A pawnshop is not a good option.</li>
                <li>Tracking value over time is difficult with non-fungible assets like diamonds.</li>
            </ul>
            <p class="firstsss">Earthplanet Minerals solves these historic problems with a technology-based, two-way
                marketplace designed for the needs of investors, not jewelry buyers.</p>
        </div>

        <div class="diamond_types container">
            <h2 class="text-center">Investment Focus</h2>
            <hr class="dividerrr">
            <p class="pt-3 text-center second">At Earthplanet Minerals, we believe that focus is the key to success.
                We invest in two asset types: </p>

            <div class="container px-4 text-center mt-5">
                <div class="row g-5">
                    <div class="col">
                        <div class="shadow mb-5 bg-body-tertiary rounded types type_1">Class-A <br> Raw Minerals</div>
                    </div>
                    <div class="col">
                        <div class="p-3 shadow p-3 mb-5 bg-body-tertiary rounded types type_2">Industrial CVD Diamonds
                        </div>
                    </div>
                </div>
            </div>

            <p class="second diamond_just">We form joint ventures with experienced developers/Miners with proven track
                records of success. We look for long-term relationships that can grow over time. With the strength of
                the Witwatersrand Basin and as part of our global strategy we have access to consistent multiple equity
                sources.</p>




        </div>

        <div class="top_bidders bg-dark p-5">

            <h2 class="text-center text-white">Main Investors & Top Bidders</h2>
            <hr class="dividerrr">

            <div class="table-responsive">
                <table class="table table-dark table-striped mt-5 w-75 mx-auto">


                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="tableFname">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Asset</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Savji Dhanji</td>
                            <td>Dholakia</td>
                            <td>$120,240,000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Cheng</td>
                            <td>Yu-tung</td>
                            <td>$55,530,000</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Nicky</td>
                            <td>Oppenheimer</td>
                            <td>$33,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Laurence</td>
                            <td>Graff</td>
                            <td>$10,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Rhonda</td>
                            <td>Vincent</td>
                            <td>$3,685,000</td>
                        </tr>
                    </tbody>


                </table>
            </div>


        </div>

        
    </div>

    <div class="diamond_types container">
        <h2 class="text-center">Benefits of Earthplanet Minerals Marketplace</h2>
        <hr class="dividerrr">

        <div class="px-4 mt-5">
            <div class="row g-5">
                <div class="col-12 col-md-4">
                    <!-- <div class="p-3">
                        <h2 class="text-center">Preserve Your Investment Value</h2>
                        <p>By trading diamonds in a near-frictionless environment, you buy and sell close to wholesale
                            value. Thus you don’t lose half your value from the moment you “drive it out of the
                            showroom.”</p>
                    </div> -->



                    <div class="card diamond_benefits">
                        <div class="card-body">

                            <div class="iconnnn d-flex justify-content-center">
                                <i class="fas fa-dollar-sign text-center"></i>
                            </div>
                            <h2 class="card-title">Preserve Your Investment Value</h2>
                            <p class="card-text pt-3">By trading diamonds in a near-frictionless environment, you buy
                                and sell close to wholesale
                                value. Thus you don’t lose half your value from the moment you “drive it out of the
                                showroom.”</p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- <div class="p-3">
                        <h2 class="text-center">Always Know Your Diamond's Value</h2>
                        <p>Our platform uses patent-pending virtual-fungibility™ technology to track your diamond’s
                            approximate value from the time it was purchased, and lets you re-list your diamond with a
                            few mouse clicks.</p>
                    </div> -->


                    <div class="card diamond_benefits">
                        <div class="card-body">
                            <div class="iconnnn d-flex justify-content-center">
                                <i class="fas fa-water text-center"></i>
                            </div>

                            <h2 class="card-title">Always Know Your Diamond's Value</h2>
                            <p class="card-text pt-3">Our platform uses patent-pending virtual-fungibility™ technology
                                to track your diamond’s
                                approximate value from the time it was purchased, and lets you re-list your diamond with
                                a
                                few mouse clicks.</p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- <div class="p-3">
                        <h2 class="text-center">Enjoy Your Asset Before You Trade</h2>
                        <p>When you buy a diamond, you can choose to either vault it, or take delivery. Unlike bullion,
                            diamonds can be enjoyed as jewelry while still serving your portfolio. Return your diamond
                            to the vault when you wish to sell.</p>
                    </div> -->



                    <div class="card diamond_benefits">
                        <div class="card-body">
                            <div class="iconnnn d-flex justify-content-center">
                                <i class="far fa-gem text-center"></i>
                            </div>

                            <h2 class="card-title">Enjoy Your Asset Before You Trade</h2>
                            <p class="card-text pt-3">When you buy a diamond, you can choose to either vault it, or take
                                delivery. Unlike bullion,
                                diamonds can be enjoyed as jewelry while still serving your portfolio. Return your
                                diamond
                                to the vault when you wish to sell.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="how_it_works container">
        <hr class="dividerrr">
        <h2 class="pt-5">How it Works</h2>
        <div class="row gx-5">
            <div class="col-12 col-md-6">
                <div class="px-3 diamond_sect_text">
                    <p class="firstsss">Trade Close to Wholesale Price.</p>
                    <p class="second">Earthplanet Minerals sells newly-issued diamonds at a 10% margin over wholesale
                        cost. The
                        industry average for diamond e-tailers is about 25%.</p>
                </div>
                <div class="px-3 diamond_sect_text">
                    <p class="firstsss">Enjoy Investment-Grade Liquidity.</p>
                    <p class="second">Earthplanet Minerals screens its diamonds to maximize their liquidity.
                        “Investment-Grade”
                        diamonds should be easy to sell, not just easy to buy.</p>
                </div>
                <div class="px-3 diamond_sect_text">
                    <p class="firstsss">Access a 2-Way Marketplace.</p>
                    <p class="second">Earthplanet Minerals operates a buy/sell marketplace in which investment-buyers,
                        market-makers,
                        and diamond industry wholesalers compete against each other to minimize spreads, and maximize
                        liquidity.</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="px-3 diamond_sect_text">
                    <p class="firstsss">Leverage Patent-Pending Technology.</p>
                    <p class="second">Earthplanet Mineral’s proprietary virtual-fungibility technology makes pricing
                        transparent, and
                        delivers to you—the hard asset investor—a close to “metals trading” experience.</p>
                </div>
                <div class="px-3 diamond_sect_text">
                    <p class="firstsss">Take Delivery Anytime.</p>
                    <p class="second">If you chose to vault your diamond, you will receive a warehouse receipt, which
                        you can redeem at anytime and take delivery of the diamond—to store privately or enjoy as
                        jewelry while in your portfolio. Return your diamond to the vault when you’re ready to sell.</p>
                </div>
            </div>


        </div>

        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                View Available Bids
            </button>

        </div>

        
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Earthplanet Minerals</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="investment_options container">

                            <h2 class="text-center">Raw / Developed Minerals</h2>
                            <hr class="dividerrr">
                            <div class="row g-3 mt-5">
                
                                <div class="col-md-4">
                                    <div class="card shadow bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Rough Diamonds <br>sourced</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot"><span class="foot_text">Raw %12</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Houston crest <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">%75 Developed</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Winter mirror <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                
                                            <span class="foot_text">Developed & Sold</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Raw Memorial <br> Daiz</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">Developed & Sold</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Scottsdale <br> haze</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">Under Construction</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">251ht Orangefair <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">Developed & Sold</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Cullinan <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">Stone %15</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Taylor Burton <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">%28</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Octahedron <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">%63</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Tiffany Yellow <br> Dimaond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <span class="foot_text">Raw & Sold Out</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Raw diamond <br> cube</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <div class="row">
                                                <div class="col">
                
                                                    <span class="foot_text">Raw & Sold Out</span>
                                                </div>
                                                <div class="col">
                                                    <span class="foot_text"><span class="bids">Bids:</span> +$10,000.00</span>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Clarity <br> Rock</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <div class="row">
                                                <div class="col">
                
                
                                                    <span class="foot_text">Raw - Available</span>
                                                </div>
                                                <div class="col">
                
                                                    <span class="foot_text"><span class="bids">Bids:</span> +$300,000.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Cullinan <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <div class="row">
                                                <div class="col">
                
                                                    <span class="foot_text">Raw - 86.29 carats</span>
                                                </div>
                                                <div class="col">
                
                
                                                    <span class="foot_text"><span class="bids">Bids:</span> +$55,307,632.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Bright Frisco <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <div class="row">
                                                <div class="col">
                
                                                    <span class="foot_text">Developed & Sold</span>
                                                </div>
                                                <div class="col">
                                                    <span class="foot_text"><span class="bids">Bids:</span><br>
                                                        +$55,307,632.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Arnold cut <br> diamond</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                
                                            <span class="foot_text">%6 Available</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4">
                                    <div class="card shadow mb-5 bg-body-tertiary rounded mb-3 each_diamond_listing"
                                        style="max-width: 18rem;">
                                        <div class="card-body diamond_infoss">
                                            <!-- <h5 class="card-title">Success card title</h5> -->
                                            <p class="card-text text-center type_3">Caldwell <br> Stone</p>
                                        </div>
                                        <div class="card-footer border-success diamond_foot">
                                            <div class="row">
                                                <div class="col">
                
                                                    <span class="foot_text">Developed %63</span>
                                                </div>
                                                <div class="col">
                
                                                    <span class="foot_text"><span class="bids">Bids:</span> $12,400.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                
                
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="footer">
        <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <p>&copy;2001 by Earthplanet Minerals</p>
        </div>
    </div>
</div>